table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
.headerOne, #inputHeaderOne {
    background-color: rgb(128, 115, 115);
    font-size: 25px;
    font-weight: bold;
}
.headerTwo, #inputHeaderTwo {
    font-size: 20px;
    font-weight: bold;
}
.gruen{
    background-color: rgba(0, 255, 0, 0.5);
}
.gelb{
    background-color: rgba(255, 255, 0, 0.5);
}
.rot{
    background-color: rgba(255, 0, 0, 0.5);
}
::placeholder{
    color: black;
}
#inputContainer, #inputCompanyContainer, #jsonLogStyle{
    text-align: center;
    padding: 0;
    margin: 0;
}
#inputContainer, #inputTable, #jsonLogStyle{
    display: none;
}
input {
    border: none;
    border-bottom: 1px solid;
}
#submit, #companyBtn{
  cursor:pointer;
  background-color: transparent;
  z-index: 1;
}
#submit:hover, #companyBtn:hover{
    scale: 1.3;
}
#deleteLog{
    text-decoration: none;
}
.delRowBtn{
    background-color: transparent;
    border: none;
}
.delRowBtn:hover{
    scale: 2.0;
    animation: mymove 5s infinite;

}
@keyframes mymove {
  50% {transform: rotate(180deg);}
}
